Options FollowSymLinks
AddDefaultCharset UTF-8
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond $1 !^(index\.php|images|robots\.txt)
    RewriteRule ^(.*)$ /prueba/index.php?q=$1 [L,QSA]
</IfModule> 
 
<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule>